.audioPlayerWrapper {
    background: #042047;
    border-top: 1px solid var(--lightColor);
    bottom: 0;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.audioPlayerControls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 768px;
    padding: 0 0.2rem;
    position: relative;
    width: 100%;
}

.playerAction {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.playerAction .playerActionText {
    font-size: 11px;
    /* color: var(--lightColor); */
    color: #fff;
    text-align: center;
    margin: 0;
}

.playerAction .playerActionIcon {
    display: inline-block;
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1);
}

.playerAction path {
    fill: #fff0;
    /* stroke: var(--lightColor); */
    stroke: #fff;
}

.mixerButton path {
    /* fill: var(--lightColor); */
    fill: #fff;
}

.playerAction rect {
    /* fill: var(--lightColor); */
    fill: #fff;
}

.spinner {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    transform-origin: center;
    margin: 0;
}

.spinner svg {
    width: 30px;
    height: 30px;
}

.spinner path {
    fill: var(--lightColor) !important;
}

/* .playerVolume {
    flex-grow: 1;
    max-width: 280px;
    position: relative;
    margin: 6px 1rem;
} */
/* 
.playerVolume input {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    outline: none;
    background: #fff;
    transition: 0.3s linear;

} */

.volumeControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: -5px;
}

.volumeControl button {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: none;
    border: none;
    padding: 0;
}

.volumeControl p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    /* color: var(--lightColor); */
    color: #fff;
    margin: 0;
}

.soundTitle {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.audioRemoveButton {
    left: -3px;
    position: absolute;
    top: -3px;
    z-index: 11;
}

/* 
.audioRemoveButton svg {
    width: 20px;
    height: 20px;
} */

.audioRemoveButton svg, .closeButton svg {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 99px;
    padding: 0.2rem;
}

.closeButton img {
    width: 12px;
    aspect-ratio: 1/1;
    filter: brightness(0) invert(1);
}

.audioRemoveButton path {
    fill: var(--primaryColor);
}

.audioRemoveButton img {
    width: 100%;
    max-width: 20px;
}

.playerVolume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    /* background: var(--secondaryColor); */
    /* border: 3px solid var(--lightColor); */
    background: #fff;
    border: 1px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.playerVolume input::-moz-range-thumb {
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    /* background: var(--secondaryColor); */
    /* border: 3px solid var(--lightColor); */
    background: #fff;
    border: 2px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.audioPlayerWrapper.mobileMenu {
    left: 0;
    bottom: 60px;
}








.customDropdownButton>button {
    outline: #fff0 !important;
    border: none !important;
    padding: 0;
}

.customDropdownButton button::after {
    display: none !important;
}


.customDropdownButton .dropdown-menu {
    background: #051d3fe3;
    border: 1px solid #89a8b9;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    min-width: 340px;
    padding: 0;
}

.mixerBody {
    padding: 0rem 1rem;
    max-height: 240px;
    overflow-y: scroll;
}

.mixer input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    /* background: var(--lightColor); */
    background: #fff;
    transition: 0.3s linear;
}


.mixer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    /* background: var(--secondaryColor);
    border: 3px solid var(--lightColor); */
    background: #fff;
    border: 2px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.mixer input::-moz-range-thumb {
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    /* background: var(--secondaryColor); */
    /* border: 3px solid var(--lightColor); */
    background: #fff;
    border: 2px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.individualAudio {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.8rem;
}

/* .individualAudio:not(:last-child) {
    border-bottom: 1px solid var(--lightColor);

} */

.mixerSoundDetail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mixerSoundThumbnail {
    background: #2f9bbf;
    border-radius: 99px;
    padding: 0.2rem;
}

.mixerSoundThumbnail img {
    aspect-ratio: 1/1;
    border-radius: 99px;
    object-fit: cover;
    object-position: center;
    width: 30px;
}

.mixerAudioTitle {
    color: #fff;
    font-size: 12px !important;
    margin: 0.3rem !important;
}

.mixerAudioThumbnail img {
    aspect-ratio: 1/1;
    border-radius: 99px;
    object-fit: cover;
    object-position: center;
    width: 33px;
}

.mixerAudioThumbnail {
    border-radius: 99px;
}

.mixerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    border-top: 1px solid var(--lightColor);
}

/* .customDropdownButton .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: 1s linear;
  }
  
  .customDropdownButton.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
  } */

.timerButton path {
    fill: #fff0 !important;
}

.timerOptions p {
    padding: 0.5rem;
    font-size: 15px;
    cursor: pointer;
}


.soundModal {
    backdrop-filter: blur(12px);
}

.soundModal .modal-content {
    background: #042047c7;
}

.timerOptions button {
    display: block;
    min-width: 240px;
    margin: 1rem auto;
}

.customModalContent {
    padding: 1rem 1rem;
}

.soundModalError {
    font-size: 18px;
    line-height: 1.5;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}








.currentMixButton {
    color: #fff;
    position: relative;
    display: flex;
    cursor: pointer;
}

.currentMixIcons {
    position: relative;
    display: flex;
    align-items: center;
}

.currentImageWrapper {
    background: #2f9bbf;
    border-radius: 99px;
    width: 25px;
    aspect-ratio: 1/1;
    transform: translateX(0px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentImageWrapper:nth-child(2) {
    transform: translateX(-12.5px);
}

.currentImageWrapper img {
    width: 60%;
}

.currentMixContent {
    margin-left: -5px;
    text-align: left;
}

.currentMixTitle {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}

.currentMixText {
    font-size: 9px;
    font-weight: 300;
    margin: 0;
}







.mixerTray {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    right: 0;
    width: 100%;
    max-width: 360px;
    background: #042047f2;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
    transition: 0.5s linear;
}

.mixerTray.open {
    bottom: calc(100% + 0.6rem);
    height: auto;
    opacity: 1;
    transition: 0.5s linear;
}

.mixerTray.close {
    bottom: 0;
    height: 0;
    opacity: 0;
    transition: 0.5s linear;
}

.mixerHeader {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-shadow: 0px 1px 10px #000;
    background: #042047;
}

.mixerHeader h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.mixerHeader button img {
    width: 12px;
    aspect-ratio: 1/1;
    filter: brightness(0) invert(1);
}

.individualSoundsWrapper {
    max-height: 140px;
    overflow-y: auto;
    border-bottom: 2px solid #ffffff38;
}

.otherAudioWrapper {
    border-bottom: 2px solid #ffffff38;

}

.clearMixWrapper {
    text-align: center;
    /* border-top: 1px solid #ffffff38; */
    padding: 0.8rem;
}


.clearMixButton {
    display: inline-block;
    background: #ffffff15;
    border: none;
    color: #fff;
    border-radius: 99px;
    padding: 0.6rem 2rem;
    font-size: 14px;
    outline: #fff0;
}

.soundControlButton {
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 99px;
    outline: #fff0;
    cursor: pointer;
}

.soundControlButton img {
    width: 0.5em;
    filter: brightness(0);
}

.mixerSoundThumbnailWrapper {
    position: relative;
}
.mixerLeft, .mixerRight {
    display: flex;
    gap: 1.2rem;
}
.audioHeader {
    padding: 0.8rem 1rem;
}

.audioHeader p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;
}

@media screen and (max-width: 575px) {
    .mixerTray {
        right: 50%;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}