.audioPlayerWrapper {
    position: fixed;
    bottom: 20px;
    left: calc(50% + 130px);
    transform: translateX(-50%);
    width: 95%;
    max-width: 768px;
    background: #100b16;
    border-radius: 8px;
    padding: 0.3rem 1rem;
    z-index: 99;
}

.audioPlayerControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playerAction {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.playerAction .playerActionText {
    font-size: 11px;
    /* color: var(--lightColor); */
    color: #fff;
    text-align: center;
    margin: 0;
}

.playerAction .playerActionIcon {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.playerAction path {
    fill: #fff0;
    /* stroke: var(--lightColor); */
    stroke: #fff;
}

.mixerButton path {
    /* fill: var(--lightColor); */
    fill: #fff;
}

.playerAction rect {
    /* fill: var(--lightColor); */
    fill: #fff;
}

.spinner {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    transform-origin: center;
    margin: 0;
}

.spinner svg {
    width: 30px;
    height: 30px;
}

.spinner path {
    fill: var(--lightColor) !important;
}

.playerVolume {
    flex-grow: 1;
    max-width: 280px;
    position: relative;
    margin: 6px 1rem;
}

.playerVolume input {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    outline: none;
    background: #fff;
    transition: 0.3s linear;

}

.volumeControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: -5px;
}

.volumeControl button {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: none;
    border: none;
    padding: 0;
}

.volumeControl p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    /* color: var(--lightColor); */
    color: #fff;
    margin: 0;
}

.soundTitle {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.audioRemoveButton {
    width: 25px;
    height: 20px;
    border: none;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
.audioRemoveButton svg {
    width: 20px;
    height: 20px;
} */

.audioRemoveButton svg, .closeButton svg {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 99px;
    padding: 0.2rem;
}

.audioRemoveButton path {
    fill: var(--primaryColor);
}

.audioRemoveButton img {
    width: 100%;
    max-width: 20px;
}

.playerVolume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    /* background: var(--secondaryColor); */
    /* border: 3px solid var(--lightColor); */
    background: #fff;
    border: 1px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.playerVolume input::-moz-range-thumb {
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    /* background: var(--secondaryColor); */
    /* border: 3px solid var(--lightColor); */
    background: #fff;
    border: 2px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.audioPlayerWrapper.mobileMenu {
    left: 50%;
    bottom: 80px;
}








.customDropdownButton>button {
    outline: #fff0 !important;
    border: none !important;
    padding: 0;
}

.customDropdownButton button::after {
    display: none !important;
}


.customDropdownButton .dropdown-menu {
    background: #051d3fe3;
    border: 1px solid #89a8b9;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    min-width: 340px;
    padding: 0;
}

.mixerBody {
    padding: 0rem 1rem;
    max-height: 240px;
    overflow-y: scroll;
}

.mixer input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    /* background: var(--lightColor); */
    background: #fff;
    transition: 0.3s linear;
}


.mixer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    /* background: var(--secondaryColor);
    border: 3px solid var(--lightColor); */
    background: #fff;
    border: 2px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.mixer input::-moz-range-thumb {
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    /* background: var(--secondaryColor); */
    /* border: 3px solid var(--lightColor); */
    background: #fff;
    border: 2px solid #fff;
    border-radius: 99px;
    cursor: grabbing;
}

.individualAudio {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.individualAudio:not(:last-child) {
    border-bottom: 1px solid var(--lightColor);

}

.mixerSoundDetail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mixerSoundThumbnail {
    width: 35px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
}

.mixerAudioTitle {
    font-size: 12px !important;
    text-align: center !important;
    margin: 0.3rem !important;
    /* color: var(--lightColor); */
    color: #fff;
}

.mixerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    border-top: 1px solid var(--lightColor);
}

/* .customDropdownButton .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: 1s linear;
  }
  
  .customDropdownButton.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
  } */

.timerButton path {
    fill: #fff0 !important;
}

.timerOptions p {
    padding: 0.5rem;
    font-size: 15px;
    cursor: pointer;
}


.soundModal {
    backdrop-filter: blur(12px);
}

.soundModal .modal-content {
    background: var(--primaryColor);
    border: 1px solid var(--lightColor);
}

.timerOptions button {
    display: block;
    min-width: 240px;
    margin: 1rem auto;
}

.customModalContent {
    padding: 1rem 1rem;
}

.soundModalError {
    font-size: 18px;
    line-height: 1.5;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}








.currentMixButton {
    position: relative;
    color: #fff;
    display: flex;
}

.currentMixIcons {
    position: relative;
    display: flex;
    align-items: center;
}

.currentImageWrapper {
    background: #2f9bbf;
    border-radius: 99px;
    width: 25px;
    aspect-ratio: 1/1;
    transform: translateX(0px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentImageWrapper:nth-child(2) {
    transform: translateX(-12.5px);
}

.currentImageWrapper img {
    width: 60%;
}

.currentMixContent {
    margin-left: -5px;
    text-align: left;
}

.currentMixTitle {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}

.currentMixText {
    font-size: 9px;
    font-weight: 300;
    margin: 0;
}