.audioPlayerWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #051d3f;
    border-top: 1px solid var(--lightColor);
    padding: 0.3rem 0;
}

.audioPlayerControls {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.playerAction {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 1rem;
    flex-shrink: 0;
}

.playerAction .playerActionText {
    font-size: 11px;
    color: var(--lightColor);
    text-align: center;
    margin: 0;
}

.playerAction .playerActionIcon {
    display: inline-block;
    width: 22px;
    height: 22px;
}

.playerAction path {
    fill: #fff0;
    stroke: var(--lightColor);
}

.mixerButton path {
    fill: var(--lightColor);
}

.playerAction rect {
    fill: var(--lightColor);
}

.spinner {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    transform-origin: center;
}

.spinner path {
    fill: var(--lightColor) !important;
}

.playerVolume {
    flex-grow: 1;
    max-width: 340px;
    position: relative;
    margin: 6px 0;
}

.playerVolume input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    background: var(--lightColor);
    transition: 0.3s linear;

}

.volumeControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.volumeControl button {
    font-size: 20px;
    line-height: 1;
    color: var(--lightColor);
    background: none;
    border: none;
    padding: 0;
}

.volumeControl p {
    font-size: 14px;
    line-height: 1;
    color: var(--lightColor);
    margin: 0;
}

.soundTitle {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.audioRemoveButton {
    width: 25px;
    height: 20px;
    border: none;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audioRemoveButton svg {
    width: 20px;
    height: 20px;
}

.audioRemoveButton path {
    fill: var(--primaryColor);
}

.audioRemoveButton img {
    width: 100%;
    max-width: 20px;
}

.playerVolume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--secondaryColor);
    border: 3px solid var(--lightColor);
    border-radius: 99px;
    cursor: grabbing;
}

.playerVolume input::-moz-range-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--secondaryColor);
    border: 3px solid var(--lightColor);
    border-radius: 99px;
    cursor: grabbing;
}

.audioPlayerWrapper.mobileMenu {
    bottom: 60px;
}








.customDropdownButton > button {
    outline: #fff0 !important;
    border: none !important;
    padding: 0;
}

.customDropdownButton button::after {
    display: none !important;
}


.customDropdownButton .dropdown-menu {
    background: #051d3fe3;
    border: 1px solid #89a8b9;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    min-width: 340px;
    padding: 0;
}

.mixerBody {
    padding: 0rem 1rem;
    max-height: 240px;
    overflow-y: scroll;
}

.mixer input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    background: var(--lightColor);
    transition: 0.3s linear;
}


.mixer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--secondaryColor);
    border: 3px solid var(--lightColor);
    border-radius: 99px;
    cursor: grabbing;
}

.mixer input::-moz-range-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--secondaryColor);
    border: 3px solid var(--lightColor);
    border-radius: 99px;
    cursor: grabbing;
}

.individualAudio {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.individualAudio:not(:last-child) {
    border-bottom: 1px solid var(--lightColor);
    
}

.mixerSoundDetail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mixerSoundThumbnail {
    width: 35px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
}

.mixerAudioTitle {
    font-size: 12px !important;
    text-align: center !important;
    margin: 0.3rem !important;
    color: var(--lightColor);
}

.mixerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    border-top: 1px solid var(--lightColor);
}

/* .customDropdownButton .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: 1s linear;
  }
  
  .customDropdownButton.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
  } */

.timerButton path {
    fill: #fff0 !important;
}

.timerOptions p {
    padding: 0.5rem;
    font-size: 15px;
    cursor: pointer;
}


.soundModal {
    backdrop-filter: blur(12px);
}

.soundModal .modal-content {
    background: var(--primaryColor);
    border: 1px solid var(--lightColor);
}

.timerOptions button {
    display: block;
    min-width: 240px;
    margin: 1rem auto;
}

.customModalContent {
    padding: 1rem 1rem;
}

.soundModalError {
    font-size: 18px;
    line-height: 1.5;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}