@import url('./../fonts/stylesheet.css');

/*----- General Css Start -----*/

:root {
    --primaryColor: #013D5F;
    --secondaryColor: #21173A;
    --lightColor: #89a8b9;
}

body {
    font-family: 'Poppins';
    color: #fff;
    background: linear-gradient(120.55deg, #013D5F -1.27%, #22163A 79.83%);
    transition: 0.3s linear;
}

a {
    color: #fff;
    transition: 0.3s linear;
}

a:hover {
    color: var(--lightColor);
}

.primaryColor {
    color: var(--primaryColor) !important;
}

.secondaryColor {
    color: var(--secondaryColor) !important;
}

.lightColor {
    color: var(--lightColor) !important;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--primaryColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lightColor);
    border-radius: 99px;
}

.smallText {
    font-size: 14px;
}


.pageTitle {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
}

.sectionTitle {
    font-size: 22px;
    font-weight: 600;
    color: #E2E4E9;
    text-transform: capitalize;
    margin: 0;
}

/*----- General Css End -----*/




/*----- General Buttons Css Start -----*/

.notButton {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.roundButton {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roundButton svg path {
    stroke: var(--primaryColor);
    transition: 0.3s linear;
}

.roundButton:hover svg path {
    fill: var(--primaryColor);
}

.roundButton img {
    max-width: 15px;
    width: 100%;
}

/*----- General Buttons Css End -----*/




/*----- Svg Css Start -----*/

.primaryFill path {
    fill: var(--primaryColor);
}

.primaryStroke path {
    stroke: var(--primaryColor);
}

.lightFill path {
    fill: var(--lightColor);
}

.lightStroke path {
    stroke: var(--lightColor);
}

.whiteFill path {
    fill: #fff;
}

.whiteStroke path {
    stroke: #fff;
}

/*----- Svg Css End -----*/



/*----- Custom Accordion Css Start -----*/

.customAccordion .accordion-item {
    background: no-repeat;
    border: none;
    border-radius: 0;
    margin-bottom: 0.5rem;
}

.customAccordion .accordion-button {
    background: #00000080;
    font-size: 18px;
    font-weight: 600;
    color: #E2E4E9;
    text-transform: capitalize;
    border-radius: 0 !important;
    box-shadow: none;
    margin: 0;
}

.customAccordion .accordion-button::after {
    filter: brightness(0) invert(1);
}

.customAccordion .accordion-body {
    padding: 1rem 0;

}

/*----- Custom Accordion Css End -----*/

.stripedRows>div:nth-child(odd) {
    background: #ffffff15;
}

.stripedRows>div:nth-child(even) {
    background: #fff0;
}

/*----- Audio Strips Css Start -----*/

.audioStrip {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.audioStripDetails {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.audioStrip p {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

.audioStrip img {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
}

.audioStripExtra {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.audioStripButton {
    background: #fff0;
    border: none;
    border-radius: 99px;
    outline: none;
    width: 25px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.audioStripButton img {
    width: 100%;
}


/*----- Audio Strips Css En
d -----*/



@media screen and (max-width: 991px) {
    .pageTitle {
        font-size: 26px;
    }

    .sectionTitle {
        font-size: 20px;
    }

}


@media screen and (max-width: 768px) {
    .pageTitle {
        font-size: 22px;
    }

    .customAccordion .accordion-button {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .pageTitle {
        font-size: 20px;
    }

    .sectionTitle {
        font-size: 18px;
    }
}


.skeleton {
    position: relative;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgb(255 255 255 / 20%);
    }

    100% {
        background-color: rgb(255 255 255 / 30%);
    }
}